.root {
  width: 50%;
  margin: auto;
  background-color: #f5f6fa;
  position: relative;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

@media only screen and (max-width: 600px) {
  .root {
    width: 100%;
  }
}
